<div class="p-3">
  <div class="card">
    <div class="card-body">
      <table *ngIf="customers" class="table">
        <thead>
         <tr>
           <th>ID</th><th>First Name</th><th>Last name</th><th>Email</th>
         </tr>
        </thead>
        <tbody>
         <tr *ngFor="let c of customers">
           <td>{{c.id}}</td>
           <td>{{c.firstName}}</td>
           <td>{{c.lastName}}</td>
           <td>{{c.email}}</td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
